.mainBox {
    width: 80%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.4);
    border: solid 2px whitesmoke;
    border-radius: 20px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.SubBox {
    width: 90%;
    height: 500px;
    background-color: darkblue;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.leftRows {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.titleBox {
    width: 9%;
    height: 60px;
    border: black solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.Out {
    width: 6%;
    height: 60px;
    border: black solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.in {
    width: 5%;
    height: 60px;
    border: black solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.total {
    width: 6%;
    height: 60px;
    border: black solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.holes {
    height: 60px;
    width: 3.87%;
    border: black solid 1px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}